.Header {
  /* position: fixed; */
  top: 0; /* Stick it to the top */
  max-height: auto;
  width: 100vw;
  display: grid;
  grid-template-areas: "logo nav";

  /* Cosmetics */
  background-color: #d9d9da;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  /* margin-bottom: 20px; */
}

.nav-logo {
  grid-area: logo;
  display: flex;
  color: #F24726;
  font-family: 'IBM Plex Sans', sans-serif;
  font-size: 25px;
  align-items: center;
  justify-items: center;
}
.nav-logo a {
  color: #F24726;
  text-decoration: none;
}
.nav-logo a:hover {
  color: #F24726;
  text-decoration: none;
}

h1.logo-text:hover {
  transform: none;
  transition: none;
}

.Logo {
  width: auto;
  height: 90px;
  margin-left: 10px;
  margin-right: 10px;
  animation: rotate 10s cubic-bezier(0.85, -0.1, 0.14, 1.1) infinite;
}
@keyframes rotate {
  100% {
      transform: rotateY(360deg);
  }
}

.Nav {
  display: grid;
  grid-area: nav;
  grid-template-columns: repeat(5, auto);
  align-items: center;
  justify-items: center;
}
.Nav a {
  color: #F24726;
  font-size: 20px;
  font-weight: 500;
  transition: 0.5s;
  text-decoration: none;
  color: #F24726;
}

.Nav a:hover {
  /* transform: scale(0.9); */
  text-decoration: none;
  color: #812614;
  transform: scale(0.9);
}
.button {
  padding: 3px;
  outline: none;
  border: 1px double #88615a;
  font-size: 20px;
  color: #fff;
  font-weight: 600;
  background-color: #F24726;
  box-shadow: 1px 1px 2px 2px #ffc4b8;
  border-radius: 10px;
  cursor: pointer;
  transition: 70ms;
  padding-left: 25px;
  padding-right: 25px;
  padding-bottom: 8px;
  margin: 15px;
}


a.button {
  color: #fff;
}

a:hover {
  text-decoration: none;
  text-transform: none;
  color: #ccc;
  
}

.login-btn {
  grid-column: none;
}

.button:active {
  transform: translateY(3px);
  box-shadow: 0px 2px 0px 0px rgba(255, 0, 0, 0.25);
}

.Burger {
  display: none;
  grid-area: burger;
  margin: 0 20px 0 0;
  padding: 0;
  justify-self: end;
  border: none;
  background: none;
  outline: none;
  transition: 0.3s;
}
.Burger:active {
  transform: rotateX(90deg);
  transition: 0.3s;
}
@media (min-width: 700px) {
  .main-login-btn{
    visibility: hidden;
  }
}

@media (max-width: 700px) {
  .Header {
    grid-template-areas: "logo burger" "nav nav";
  }
  .Nav {
    grid-template-rows: repeat(4, auto);
    grid-template-columns: none;
    grid-row-gap: 20px;

    padding: 30px 0 30px;
    background: #d9d9da;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
  }
  
  .login-btn {
    visibility: hidden;
  }
    
  .Burger {
    display: inline;
  }
}

.NavAnimation-enter {
  opacity: 0;
  transform: scale(0.5);
}
.NavAnimation-enter-active {
  opacity: 1;
  transform: translateX(0);
  transition: opacity 350ms, transform 350ms;
}
.NavAnimation-exit {
  opacity: 1;
}
.NavAnimation-exit-active {
  opacity: 0;
  transform: scale(0.5);
  transition: opacity 350ms, transform 350ms;
}

@media (max-width: 350px) {
  .Logo {
    margin-left: 3px;
    margin-right: 3px;
  }
  .Burger {
    margin-left: 12px;
    transition: 0.3s;
  }
  .Burger:active {
    transition: 0.3s;
  }

}