.main-login-btn{
  margin: 0 auto;
  display: table;
  margin-top: 20px;
  /* position: absolute; */
  /* bottom: 40px; */
  /* left: 35%; */
  padding-left: 30px;
  padding-right: 30px;
  text-decoration: none;
}

.slider-text h3 {
  color: #F24726;
}

.slider-text {
  background: #fff;
  padding: 5px;
}