.main-login-btn{
  margin: 0 auto;
  display: table;
  margin-top: 20px;
  /* position: absolute; */
  /* bottom: 40px; */
  /* left: 35%; */
  padding-left: 30px;
  padding-right: 30px;
  text-decoration: none;
}

.slider-text h3 {
  font-size: 22px;
  text-shadow: 0 0 5px #F24726;
  font-weight: bold;
}

.slider-text {
  color: #fff;
  margin-bottom: 15px;
}
@supports (-webkit-text-stroke: 1px black) {
  .slider-text h3 {
    -webkit-text-stroke: 0.5px #F24726;
    -webkit-text-fill-color: #fff;
  }
}