.main-page {
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  align-items: center;
  margin-bottom: 50px;
  margin-top: 50px;
}

.main-page img {
  justify-self: center;
}

.weather1 img{
  grid-area: w-icon;
  padding: 5px;
}
.weather2 {
  grid-area: weather;
  padding: 5px;
}
.weather3 {
  grid-area: location;
  padding: 5px;
  font-weight: bold;
  font-size: 20px;
}
.weather4 {
  grid-area: min;
  padding: 5px;
}
.weather5 {
  grid-area: max;
  padding: 5px;
}
.weather6 {
  grid-area: now;
  padding: 5px;
}
.weather7 {
  grid-area: wind;
  /* grid-area: now; */
  /* padding: 5px; */
  font-size: 20px;
}
.weather-arrow {
  /* padding: 5px; */
  font-size: 50px;
}
.weather8div {
  grid-area: rise-set;
  padding: 5px;
}
.weather8 {
  grid-area: sunrise;
  padding: 5px;
}
.weather9 {
  grid-area: sunrise;
  padding: 5px;
}

.weather-container {
  display: flex;
}

.weather-div {
  text-align: center;
  margin: 0 auto;
  display: inline-grid;
  /* overflow: hidden; */
  border-radius: 10px;
  border: 5px double #F24726;
  grid-template-columns: auto auto auto auto auto;
  grid-template-rows: auto;
  grid-template-areas: 
    "w-icon w-icon now weather wind"
    "location . min max rise-set";
}
.weather-div span {
  color: #F24726;
}