.CreateEvent {
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  align-items: center;
  margin-bottom: 30px;
  margin-top: 25px;
}
.CreateEvent input {
  margin-bottom:15px;
  width: 300px;
  font-size: 1em;
  padding: 8px;
  border-radius: 8px;
  margin-top: 10px;
}
.CreateEvent button {
  display: flex;
  margin: 0 auto;
  font-size: 18px;
  margin-top: 10px;
}
