.Card-content {
  width: 100%;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 10px;
  justify-items: center;
}

@media (max-width: 1500px) {
.Card-content {
  width: 100%;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-gap: 10px;
  justify-items: center;
  }
}

@media (max-width: 1000px) {
.Card-content {
  width: 100%;
  display: grid;
  grid-template-columns: repeat(1, 1fr);
  grid-gap: 10px;
  justify-items: center;
  }
}
.up-del {
margin: 0 auto;
display: flex;
grid-gap: 20px;
}

.card{
margin-top: 30px;
text-align: center;
padding-bottom: 15px;
}

.card-body {
flex: 1 1 auto;
min-height: 1px;
padding: 0.5rem;
}