.EventList-detail {
    width: 100%;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 10px;
    justify-items: center;
  }
  
  @media (max-width: 1500px) {
  .EventList-detail {
    width: 100%;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 10px;
    justify-items: center;
    }
  }
  
  @media (max-width: 1000px) {
  .EventList-detail {
    width: 100%;
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    grid-gap: 10px;
    justify-items: center;
    }
  }

.up-del {
  margin: 0 auto;
  display: flex;
  grid-gap: 20px;
  margin-bottom: 15px;
}

.card{
  /* margin-top: 30px; */
  text-align: center;
  /* padding-bottom: 15px; */
}

.card-body {
  flex: 1 1 auto;
  min-height: 1px;
  padding: 0.5rem;
}

.lod-gif {
  width: 100%;
  display: grid;
  grid-template-columns: repeat(1, 1fr);
  grid-gap: 10px;
  justify-items: center;
  margin: 0 auto;
}
.rev-btn {
  display: inline-block;
  margin: 0 auto;
  margin-bottom: 15px;
}

