.EventList-grid {
  width: 100%;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-gap: 10px;
  justify-items: center;
  margin-top: 30px;
}

@media (max-width: 1500px) {
.EventList-grid {
  width: 100%;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 10px;
  justify-items: center;
  margin-top: 30px;
  }
}

@media (max-width: 1000px) {
.EventList-grid {
  width: 100%;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-gap: 10px;
  justify-items: center;
  margin-top: 30px;
  }
}

@media (max-width: 620px) {
  .EventList-grid {
    width: 100%;
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    grid-gap: 10px;
    justify-items: center;
    margin-top: 20px;
    }
  }

.EventList-grid button {
  padding: 5px;
  font-size: 15px;
  padding-left: 20px;
  padding-right: 20px;
  padding-top: 4px;
}

.card{
  margin-top: 10px;
  text-align: center;
}

.card-body {
  flex: 1 1 auto;
  min-height: 1px;
  padding: 0.5rem;
}