@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Sans:ital,wght@1,700&display=swap');

main {
  text-align: center;
}
.logo {
  color: #F24726;
  font-family: 'IBM Plex Sans', sans-serif;
  font-size: 3em;
}

a.button {
  transition: 0.5s;
}

a.button:hover {
  text-decoration: none;
  color: #ccc;
  transform: scale(0.9);
}

.card {
  border: 1px solid #f248269b !important;
}